<h1><%= @pirate.name %></h1>
  <li><%= @pirate.weight %></li>
  <li><%= @pirate.height %></li>
<br>
<h2><%= @ships[0].name %></h2>
  <li><%= @ships[0].type %></li>

<h2>Display your second ship here</h2>
