<h1>Pirate</h1>
  <li>Name: <%= @pirate.name %></li>
  <li>Weight: <%= @pirate.weight %></li>
  <li>Height: <%= @pirate.height %></li>
<br>
<h2>Ships</h2>
  <% @ships.each do |ship_hash| %>
    <h2>Ship Name: <%= ship_hash[:name] %></h2>
      <li>Type: <%= ship_hash[:type] %></li>
      <li>Booty: <%= ship_hash[:booty] %></li>
    <br>
  <% end %>
