<h1>Pirate</h1>
  <p>Name: <%= @pirate.name %></p><br>
  <p>Weight: <%= @pirate.weight %></p><br>
  <p>Height: <%= @pirate.height %></p><br>
<br>
<h2>Ships</h2>
  <% @ships.each do |ship_hash| %>
    <p>Name: <%= ship_hash[:name] %></p><br>
    <p>Type: <%= ship_hash[:type] %></p><br>
    <p>Booty: <%= ship_hash[:booty] %></p><br><br>
  <% end %>
